In [1]:
#Opening Datafile in csv format
import pandas as pd
data=pd.read_csv("hotel_bookings.csv")
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015

In [2]:
data.columns.unique()

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [3]:
keys=[]
values=[]
for i in data:
    if data[i].dtype=='object':
        j=data[i].unique()
        keys.append(i)
        values.append(j)
        dictionary = dict(zip(keys, values))
for i, j in dictionary.items():
    print(i, ' : ', j)

hotel  :  ['Resort Hotel' 'City Hotel']
arrival_date_month  :  ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
meal  :  ['BB' 'FB' 'HB' 'SC' 'Undefined']
country  :  ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
market_segment  :  ['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
distribution_channel  :  ['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
reserved_room_type  :  ['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'P' 'B']
assigned_room_type  :  ['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'P' 'L' 'K']
deposit_type  :  ['No Deposit' 'Refundable' 'Non Refund']
customer_type  :  ['Transient' 'Contract' 'Transient-Party' 'Group']
reservation_status  :  ['Check-Out' 'Canceled' 'No-Show']
reservation_status_date  :  ['01-07-2015' '02-07-2015' '03-07-2015' '06-05-2015' '22-04-2015'
 '23-06-2015' '05-07-2015' '06-07-2015' '07-07-2015' '08-07-2015'
 '11-05-2015' '15-07-2015' '16-07-2015' '29-05-2015' '19-05-2015'
 '19-06-2015' '23-05-2015' '18-05-2015' '09-07-2015' '02-06-2015'
 '13-07-2015' '04-07-2015' '29-06-2015' '16-06-2015' '18-06-2015'
 '12-06-2015' '09-06-2015' '26-05-2015' '11-07-2015' '12-07-2015'
 '17-07-2015' '15-04-2015' '13-05-2015' '10-07-2015' '20-05-2015'
 '12-05-2015' '14-07-2015' '17-06-2015' '01-05-2015' '30-03-2015'
 '19-07-2015' '03-06-2015' '26-06-2015' '14-05-2015' '20-07-2015'
 '07-05-2015' '28-05-2015' '13-04-2015' '25-03-2015' '21-07-2015'
 '27-06-2015' '18-07-2015' '23-07-2015' '08-06-2015' '22-06-2015'
 '24-06-2015' '05-03-2015' '01-06-2015' '24-04-2015' '22-07-2015'
 '27-05-2015' '06-04-2015' '11-04-2015' '25-07-2015' '28-07-2015'
 '29-07-2015' '25-06-2015' '24-07-2015' '05-06-2015' '30-06-2015'
 '13-06-2015' '11-06-2015' '30-07-2015' '27-07-2015' '29-04-2015'
 '04-06-2015' '26-07-2015' '01-08-2015' '02-08-2015' '15-06-2015'
 '23-04-2015' '31-07-2015' '25-05-2015' '03-08-2015' '17-04-2015'
 '04-08-2015' '06-08-2015' '15-05-2015' '09-05-2015' '17-03-2015'
 '22-05-2015' '07-08-2015' '04-04-2015' '05-08-2015' '08-08-2015'
 '10-08-2015' '04-05-2015' '06-06-2015' '09-08-2015' '15-08-2015'
 '11-08-2015' '28-03-2015' '14-08-2015' '12-08-2015' '16-08-2015'
 '16-05-2015' '21-08-2015' '13-08-2015' '17-08-2015' '20-04-2015'
 '18-08-2015' '23-08-2015' '22-08-2015' '19-08-2015' '20-08-2015'
 '29-08-2015' '31-03-2015' '30-05-2015' '25-08-2015' '14-04-2015'
 '24-08-2015' '24-03-2015' '21-05-2015' '28-08-2015' '26-08-2015'
 '27-08-2015' '30-08-2015' '31-08-2015' '06-09-2015' '03-09-2015'
 '04-09-2015' '02-09-2015' '01-09-2015' '05-09-2015' '20-06-2015'
 '07-09-2015' '10-09-2015' '11-09-2015' '08-09-2015' '09-09-2015'
 '13-09-2015' '15-09-2015' '10-04-2015' '02-01-2015' '18-11-2014'
 '12-09-2015' '17-09-2015' '14-09-2015' '07-04-2015' '19-09-2015'
 '16-09-2015' '20-09-2015' '18-01-2015' '23-10-2015' '22-01-2015'
 '01-01-2015' '22-09-2015' '24-09-2015' '18-09-2015' '21-09-2015'
 '30-09-2015' '25-09-2015' '27-09-2015' '28-09-2015' '12-10-2015'
 '29-09-2015' '23-09-2015' '01-10-2015' '26-09-2015' '18-04-2015'
 '02-10-2015' '04-10-2015' '08-10-2015' '03-10-2015' '07-10-2015'
 '09-10-2015' '11-10-2015' '05-10-2015' '06-10-2015' '10-10-2015'
 '14-10-2015' '15-10-2015' '18-10-2015' '13-10-2015' '20-10-2015'
 '19-10-2015' '31-10-2015' '16-10-2015' '21-10-2015' '22-10-2015'
 '17-10-2015' '24-10-2015' '25-10-2015' '28-10-2015' '27-10-2015'
 '26-10-2015' '30-10-2015' '05-11-2015' '29-10-2015' '03-11-2015'
 '07-11-2015' '04-11-2015' '01-11-2015' '02-11-2015' '17-11-2015'
 '06-11-2015' '10-11-2015' '08-11-2015' '09-11-2015' '15-11-2015'
 '16-11-2015' '11-11-2015' '12-11-2015' '14-11-2015' '13-11-2015'
 '18-11-2015' '22-11-2015' '19-11-2015' '21-11-2015' '20-11-2015'
 '24-11-2015' '25-11-2015' '23-11-2015' '28-11-2015' '26-11-2015'
 '27-11-2015' '29-11-2015' '04-12-2015' '01-12-2015' '06-12-2015'
 '08-12-2015' '02-12-2015' '03-12-2015' '31-12-2015' '05-12-2015'
 '10-12-2015' '17-12-2015' '30-11-2015' '12-12-2015' '07-12-2015'
 '05-01-2016' '11-12-2015' '13-12-2015' '15-12-2015' '16-12-2015'
 '19-12-2015' '18-12-2015' '26-12-2015' '27-12-2015' '22-12-2015'
 '23-12-2015' '24-12-2015' '29-12-2015' '28-12-2015' '20-12-2015'
 '30-12-2015' '02-01-2016' '01-01-2016' '25-12-2015' '03-01-2016'
 '04-01-2016' '11-01-2016' '07-01-2016' '21-12-2015' '09-01-2016'
 '10-01-2016' '08-01-2016' '06-01-2016' '12-01-2016' '13-01-2016'
 '23-01-2016' '09-02-2016' '15-01-2016' '16-01-2016' '17-01-2016'
 '19-01-2016' '18-01-2016' '21-01-2016' '24-01-2016' '22-01-2016'
 '29-01-2016' '27-01-2016' '25-01-2016' '08-03-2016' '26-01-2016'
 '20-01-2016' '30-01-2016' '01-02-2016' '02-02-2016' '08-02-2016'
 '07-02-2016' '28-01-2016' '05-02-2016' '03-02-2016' '13-02-2016'
 '10-02-2016' '04-02-2016' '12-02-2016' '11-02-2016' '16-02-2016'
 '14-02-2016' '15-02-2016' '20-02-2016' '06-02-2016' '14-01-2016'
 '17-02-2016' '21-02-2016' '24-02-2016' '25-02-2016' '19-02-2016'
 '18-02-2016' '26-02-2016' '23-02-2016' '05-03-2016' '22-02-2016'
 '27-02-2016' '03-03-2016' '24-03-2016' '04-03-2016' '29-02-2016'
 '01-03-2016' '02-03-2016' '30-03-2016' '07-03-2016' '14-03-2016'
 '21-03-2016' '09-03-2016' '12-03-2016' '22-03-2016' '10-03-2016'
 '11-03-2016' '20-03-2016' '15-03-2016' '17-03-2016' '16-03-2016'
 '19-03-2016' '27-03-2016' '18-03-2016' '26-03-2016' '31-03-2016'
 '28-03-2016' '29-03-2016' '01-04-2016' '23-03-2016' '02-04-2016'
 '25-03-2016' '13-03-2016' '04-04-2016' '03-04-2016' '05-04-2016'
 '08-04-2016' '06-04-2016' '09-04-2016' '12-04-2016' '16-04-2016'
 '17-04-2016' '27-04-2016' '14-04-2016' '18-04-2016' '21-04-2016'
 '19-04-2016' '20-04-2016' '10-04-2016' '13-04-2016' '11-04-2016'
 '07-04-2016' '15-04-2016' '22-04-2016' '23-04-2016' '26-04-2016'
 '28-04-2016' '24-04-2016' '25-04-2016' '29-04-2016' '30-04-2016'
 '01-05-2016' '10-05-2016' '02-05-2016' '07-05-2016' '08-05-2016'
 '12-05-2016' '04-05-2016' '06-05-2016' '03-05-2016' '09-05-2016'
 '05-05-2016' '13-05-2016' '14-05-2016' '18-05-2016' '19-05-2016'
 '15-05-2016' '16-05-2016' '11-05-2016' '21-05-2016' '22-05-2016'
 '20-05-2016' '24-05-2016' '25-05-2016' '26-05-2016' '23-05-2016'
 '27-05-2016' '17-05-2016' '29-05-2016' '28-05-2016' '30-05-2016'
 '31-05-2016' '01-06-2016' '03-06-2016' '08-06-2016' '02-06-2016'
 '05-06-2016' '06-06-2016' '13-06-2016' '07-06-2016' '10-06-2016'
 '11-06-2016' '16-06-2016' '12-06-2016' '14-06-2016' '17-06-2016'
 '04-06-2016' '18-06-2016' '21-06-2016' '09-06-2016' '24-06-2016'
 '20-06-2016' '25-06-2016' '22-06-2016' '26-06-2016' '23-06-2016'
 '01-07-2016' '15-06-2016' '28-06-2016' '02-07-2016' '19-06-2016'
 '27-06-2016' '04-07-2016' '30-06-2016' '05-07-2016' '08-07-2016'
 '09-07-2016' '07-07-2016' '12-07-2016' '29-06-2016' '10-07-2016'
 '15-07-2016' '03-07-2016' '16-07-2016' '14-07-2016' '18-07-2016'
 '13-07-2016' '06-07-2016' '20-07-2016' '21-07-2016' '23-07-2016'
 '19-07-2016' '11-07-2016' '28-07-2016' '17-07-2016' '25-07-2016'
 '22-07-2016' '29-07-2016' '03-08-2016' '02-08-2016' '04-08-2016'
 '08-08-2016' '10-08-2016' '01-08-2016' '06-08-2016' '06-03-2016'
 '05-08-2016' '26-07-2016' '07-08-2016' '30-07-2016' '24-07-2016'
 '12-08-2016' '27-07-2016' '13-08-2016' '18-08-2016' '16-08-2016'
 '15-08-2016' '17-08-2016' '11-08-2016' '31-07-2016' '19-08-2016'
 '01-09-2016' '23-08-2016' '26-08-2016' '20-08-2016' '21-08-2016'
 '04-09-2016' '22-08-2016' '27-08-2016' '25-08-2016' '09-08-2016'
 '05-09-2016' '24-08-2016' '10-09-2016' '29-08-2016' '09-09-2016'
 '30-08-2016' '13-09-2016' '31-08-2016' '14-09-2016' '12-09-2016'
 '15-09-2016' '14-08-2016' '02-09-2016' '08-09-2016' '19-09-2016'
 '16-09-2016' '07-09-2016' '21-09-2016' '06-09-2016' '22-09-2016'
 '17-09-2016' '20-09-2016' '03-09-2016' '26-09-2016' '23-09-2016'
 '18-09-2016' '29-09-2016' '02-10-2016' '01-10-2016' '27-09-2016'
 '25-09-2016' '05-10-2016' '11-09-2016' '30-09-2016' '09-10-2016'
 '03-10-2016' '06-10-2016' '11-10-2016' '24-09-2016' '13-10-2016'
 '28-09-2016' '08-10-2016' '07-10-2016' '16-10-2016' '28-08-2016'
 '17-10-2016' '18-10-2016' '10-10-2016' '04-10-2016' '15-10-2016'
 '19-10-2016' '21-10-2016' '12-10-2016' '24-10-2016' '26-10-2016'
 '23-10-2016' '20-10-2016' '25-10-2016' '27-10-2016' '28-10-2016'
 '30-10-2016' '29-10-2016' '01-11-2016' '04-11-2016' '14-10-2016'
 '07-11-2016' '03-11-2016' '10-11-2016' '14-11-2016' '02-11-2016'
 '31-10-2016' '11-11-2016' '08-11-2016' '05-11-2016' '25-11-2016'
 '09-11-2016' '20-11-2016' '21-11-2016' '22-10-2016' '22-11-2016'
 '16-11-2016' '23-11-2016' '17-11-2016' '06-11-2016' '15-11-2016'
 '13-11-2016' '12-11-2016' '27-11-2016' '19-11-2016' '30-11-2016'
 '18-11-2016' '02-12-2016' '04-12-2016' '29-11-2016' '07-12-2016'
 '28-11-2016' '03-12-2016' '06-12-2016' '24-11-2016' '08-12-2016'
 '05-12-2016' '10-12-2016' '13-12-2016' '14-12-2016' '16-12-2016'
 '15-12-2016' '17-12-2016' '19-12-2016' '21-12-2016' '20-12-2016'
 '22-12-2016' '23-12-2016' '24-12-2016' '01-12-2016' '27-12-2016'
 '29-12-2016' '30-12-2016' '12-12-2016' '02-01-2017' '11-12-2016'
 '03-01-2017' '04-01-2017' '01-01-2017' '26-12-2016' '06-01-2017'
 '28-12-2016' '18-12-2016' '10-01-2017' '11-01-2017' '07-01-2017'
 '12-01-2017' '16-01-2017' '14-01-2017' '13-01-2017' '05-01-2017'
 '17-01-2017' '20-01-2017' '09-12-2016' '26-01-2017' '31-12-2016'
 '23-01-2017' '27-01-2017' '28-01-2017' '19-01-2017' '25-01-2017'
 '24-01-2017' '29-01-2017' '18-01-2017' '25-12-2016' '15-01-2017'
 '21-01-2017' '01-02-2017' '02-02-2017' '31-01-2017' '03-02-2017'
 '04-02-2017' '06-02-2017' '07-02-2017' '08-02-2017' '30-01-2017'
 '09-02-2017' '09-01-2017' '11-02-2017' '10-02-2017' '12-02-2017'
 '13-02-2017' '14-02-2017' '16-02-2017' '17-02-2017' '18-02-2017'
 '19-02-2017' '20-02-2017' '15-02-2017' '21-02-2017' '22-02-2017'
 '26-02-2017' '23-02-2017' '24-02-2017' '25-02-2017' '28-02-2017'
 '05-03-2017' '27-02-2017' '03-03-2017' '06-03-2017' '02-03-2017'
 '08-03-2017' '09-03-2017' '10-03-2017' '07-03-2017' '12-03-2017'
 '13-03-2017' '14-03-2017' '01-03-2017' '18-03-2017' '17-03-2017'
 '24-03-2017' '22-03-2017' '26-03-2017' '27-03-2017' '11-03-2017'
 '28-03-2017' '29-03-2017' '30-03-2017' '31-03-2017' '19-03-2017'
 '22-01-2017' '02-04-2017' '20-03-2017' '03-04-2017' '08-01-2017'
 '23-03-2017' '05-04-2017' '05-02-2017' '04-04-2017' '15-03-2017'
 '07-04-2017' '25-03-2017' '08-04-2017' '06-04-2017' '21-03-2017'
 '10-04-2017' '01-04-2017' '11-04-2017' '13-04-2017' '15-04-2017'
 '12-04-2017' '04-03-2017' '19-04-2017' '22-04-2017' '20-04-2017'
 '02-05-2017' '09-04-2017' '23-04-2017' '24-04-2017' '16-04-2017'
 '28-04-2017' '18-04-2017' '26-04-2017' '25-04-2017' '17-04-2017'
 '21-04-2017' '03-05-2017' '04-05-2017' '16-03-2017' '05-05-2017'
 '29-04-2017' '14-04-2017' '08-05-2017' '27-04-2017' '11-05-2017'
 '01-05-2017' '10-05-2017' '13-05-2017' '06-05-2017' '14-05-2017'
 '16-05-2017' '30-04-2017' '15-05-2017' '07-05-2017' '09-05-2017'
 '17-05-2017' '21-05-2017' '12-05-2017' '22-05-2017' '24-05-2017'
 '23-05-2017' '25-05-2017' '26-05-2017' '28-05-2017' '27-05-2017'
 '29-05-2017' '19-05-2017' '31-05-2017' '20-05-2017' '01-06-2017'
 '30-05-2017' '02-06-2017' '26-11-2016' '04-06-2017' '05-06-2017'
 '06-06-2017' '07-06-2017' '18-05-2017' '09-06-2017' '10-06-2017'
 '11-06-2017' '12-06-2017' '14-06-2017' '08-06-2017' '16-06-2017'
 '13-06-2017' '03-06-2017' '24-06-2017' '20-06-2017' '19-06-2017'
 '21-06-2017' '26-06-2017' '27-06-2017' '22-06-2017' '28-06-2017'
 '15-06-2017' '29-06-2017' '30-06-2017' '18-06-2017' '04-07-2017'
 '08-07-2017' '05-07-2017' '03-07-2017' '07-07-2017' '01-07-2017'
 '06-07-2017' '11-07-2017' '12-07-2017' '23-06-2017' '13-07-2017'
 '02-07-2017' '10-07-2017' '14-07-2017' '15-07-2017' '16-07-2017'
 '18-07-2017' '17-07-2017' '19-07-2017' '20-07-2017' '21-07-2017'
 '25-06-2017' '17-06-2017' '24-07-2017' '26-07-2017' '09-07-2017'
 '27-07-2017' '28-07-2017' '31-07-2017' '29-07-2017' '22-07-2017'
 '02-08-2017' '01-08-2017' '03-08-2017' '04-08-2017' '25-07-2017'
 '23-07-2017' '09-08-2017' '10-08-2017' '30-07-2017' '07-08-2017'
 '13-08-2017' '05-08-2017' '14-08-2017' '08-08-2017' '16-08-2017'
 '17-08-2017' '15-08-2017' '18-08-2017' '20-08-2017' '22-08-2017'
 '06-08-2017' '25-08-2017' '26-08-2017' '23-08-2017' '11-08-2017'
 '27-08-2017' '21-08-2017' '29-08-2017' '31-08-2017' '12-08-2017'
 '19-08-2017' '31-01-2016' '01-09-2017' '28-08-2017' '03-04-2015'
 '21-01-2015' '28-01-2015' '29-01-2015' '30-01-2015' '02-02-2015'
 '05-02-2015' '06-02-2015' '09-02-2015' '10-02-2015' '11-02-2015'
 '12-02-2015' '19-02-2015' '20-02-2015' '23-02-2015' '24-02-2015'
 '25-02-2015' '26-02-2015' '27-02-2015' '03-03-2015' '04-03-2015'
 '06-03-2015' '09-03-2015' '11-03-2015' '12-03-2015' '18-03-2015'
 '02-04-2015' '14-06-2015' '08-04-2015' '16-04-2015' '25-04-2015'
 '28-04-2015' '08-05-2015' '06-09-2017' '28-02-2016' '09-12-2015'
 '14-12-2015' '09-09-2017' '02-09-2017' '24-08-2017' '30-08-2017'
 '03-09-2017' '04-09-2017' '05-09-2017' '07-09-2017' '08-09-2017'
 '10-09-2017' '12-09-2017' '14-09-2017' '30-04-2015' '21-04-2015'
 '05-04-2015' '13-03-2015' '05-05-2015' '29-03-2015' '10-06-2015'
 '27-04-2015' '17-10-2014' '20-01-2015' '17-02-2015' '10-03-2015'
 '23-03-2015']

Research Questions and required columns

1. what is the most popular quarter of the year? #Arrival date
2. Which type of hotel is most popular? #hotel
3. During which time of the week is most popular? #weekdays/weekends
4. Which type of deposit cancels more? #deposit/reservation_status
5. What is the ratio of kids to non-kids customer? #children and no children
6. Which country attracts most customer? #country

DATA CLEANING

In [4]:
df = data[['hotel','is_canceled','arrival_date_year','arrival_date_month','arrival_date_day_of_month','stays_in_weekend_nights','stays_in_week_nights','deposit_type','reservation_status','children','babies','country']].copy()
df.head()

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,deposit_type,reservation_status,children,babies,country
0,Resort Hotel,0,2015,July,1,0,0,No Deposit,Check-Out,0.0,0,PRT
1,Resort Hotel,0,2015,July,1,0,0,No Deposit,Check-Out,0.0,0,PRT
2,Resort Hotel,0,2015,July,1,0,1,No Deposit,Check-Out,0.0,0,GBR
3,Resort Hotel,0,2015,July,1,0,1,No Deposit,Check-Out,0.0,0,GBR
4,Resort Hotel,0,2015,July,1,0,2,No Deposit,Check-Out,0.0,0,GBR

In [5]:
#Data Types check
datatypes=df.dtypes
datatypes

hotel                         object
is_canceled                    int64
arrival_date_year              int64
arrival_date_month            object
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
deposit_type                  object
reservation_status            object
children                     float64
babies                         int64
country                       object
dtype: object

In [6]:
#Rectifying Data Types
df['hotel']=df['hotel'].astype(str)
df['is_canceled']=df['is_canceled'].astype("category")

In [7]:
keys=[]
values=[]
for i in df:
    if df[i].dtype=='object':
        j=df[i].unique()
        keys.append(i)
        values.append(j)
        dictionary = dict(zip(keys, values))
for i, j in dictionary.items():
    print(i, ' : ', j)

hotel  :  ['Resort Hotel' 'City Hotel']
arrival_date_month  :  ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
deposit_type  :  ['No Deposit' 'Refundable' 'Non Refund']
reservation_status  :  ['Check-Out' 'Canceled' 'No-Show']
country  :  ['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' nan 'ROU' 'NOR' 'OMN' 'ARG' 'POL'
 'DEU' 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST'
 'CZE' 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR'
 'UKR' 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO'
 'ISR' 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM'
 'HRV' 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY'
 'KWT' 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN'
 'SYC' 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB'
 'CMR' 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI'
 'SAU' 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB'
 'NPL' 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA'
 'KHM' 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP'
 'GLP' 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY'
 'MLI' 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA'
 'ATA' 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']

In [8]:
#Checking Missing Values
def Completness_test(df):
    missing_values_sum=pd.isnull(df).any(axis=1).sum()
    total_sum=df.any(axis=1).sum()
    Completeness_percent=(missing_values_sum/total_sum)*100
    Complete_percent=(float(Completeness_percent))
    if Complete_percent<100:
        print(Complete_percent)
        print(" \nCount total NaN at each column in a DataFrame : \n\n",df.isnull().sum()) 
    else:
        print("The data is complete. There is no missing values")
CT=Completness_test(df)

0.4120948153111651

Count total NaN at each column in a DataFrame :

 hotel                          0
is_canceled                    0
arrival_date_year              0
arrival_date_month             0
arrival_date_day_of_month      0
stays_in_weekend_nights        0
stays_in_week_nights           0
deposit_type                   0
reservation_status             0
children                       4
babies                         0
country                      488
dtype: int64

In [9]:
#Rectifying Missing values
df1=df.copy()
df1['country']=df1['country'].dropna()
df=df.drop(['country'],axis=1)
df['children']=df['children'].fillna(0,inplace=True)

#Rechecking Missing Values
def Completness_test(df):
    missing_values_sum=pd.isnull(df).any(axis=1).sum()
    total_sum=df.any(axis=1).sum()
    Completeness_percent=(missing_values_sum/total_sum)*100
    Complete_percent=(float(Completeness_percent))
    if Complete_percent<100:
        print(Complete_percent)
        print(" \nCount total NaN at each column in a DataFrame : \n\n",df.isnull().sum()) 
    else:
        print("The data is complete. There is no missing values")
CT=Completness_test(df)

The data is complete. There is no missing values

In [10]:
#Checking Duplicates
def Duplication_test(df):
    duplicate_values_sum=df.duplicated().any(axis=0).sum()
    total_sum=df.any(axis=1).sum()
    Duplication_percent=(duplicate_values_sum/total_sum)*100
    Duplication_percent=float(Duplication_percent)
    if Duplication_percent!=0:
        print(Duplication_percent)
        print(" \nCount total NaN at each column in a DataFrame : \n\n",df.duplicated().sum()) 
    else:
        print("The data is unique. There is no duplicate values")
Duplication_test(df)

0.0008375910880308232

Count total NaN at each column in a DataFrame :

 97518

In [11]:
#Rectifying Duplication values
df = df.drop_duplicates(keep='first')

#Rechecking Duplicates
def Duplication_test(df):
    duplicate_values_sum=df.duplicated().any(axis=0).sum()
    total_sum=df.any(axis=1).sum()
    Duplication_percent=(duplicate_values_sum/total_sum)*100
    Duplication_percent=float(Duplication_percent)
    if Duplication_percent!=0:
        print(Duplication_percent)
        print(" \nCount total NaN at each column in a DataFrame : \n\n",df.duplicated().sum()) 
    else:
        print("The data is unique. There is no duplicate values")
Duplication_test(df)

The data is unique. There is no duplicate values

In [12]:
df.describe()

,arrival_date_year,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,babies
count,21872.000000,21872.000000,21872.000000,21872.000000,21872.000000
mean,2016.146077,15.717676,1.348939,3.411714,0.039868
std,0.708747,8.868549,1.275768,2.818042,0.216932
min,2015.000000,1.000000,0.000000,0.000000,0.000000
25%,2016.000000,8.000000,0.000000,1.000000,0.000000
50%,2016.000000,16.000000,1.000000,3.000000,0.000000
75%,2017.000000,23.000000,2.000000,5.000000,0.000000
max,2017.000000,31.000000,19.000000,50.000000,10.000000

In [13]:
# Checking outliers
import numpy as np
def Outlier_Detect(data):
    data_mean, data_std = np.mean(data), np.std(data)
    cut_off = data_std * 3
    lower, upper = data_mean - cut_off, data_mean + cut_off
    outliers = [x for x in data if x < lower or x > upper]
    outliers_removed = [x for x in data if x >= lower and x <= upper]
    Percentage=(len(outliers)/(len(outliers)+len(outliers_removed)))*100
    print('Total outliers percent: %d' % Percentage)
for i in df:
    if df[i].dtype=='int64':
        print(i)
        Outlier_Detect(df[i])

arrival_date_year
Total outliers percent: 0
arrival_date_day_of_month
Total outliers percent: 0
stays_in_weekend_nights
Total outliers percent: 0
stays_in_week_nights
Total outliers percent: 1
babies
Total outliers percent: 3

In [14]:
def cap_data(df):
    for col in df.columns:
        print("capping the ",col)
        if (((df[col].dtype)=='float64') | ((df[col].dtype)=='int64')):
                upper_limit = df[col].mean()+3*df[col].std()
                lower_limit = df[col].mean()-3*df[col].std()
                df[col]=np.where(df[col]>upper_limit,upper_limit,np.where(df[col]<lower_limit,lower_limit,df[col]))
        else:
            df[col]=df[col]
    return(df)
newdf=cap_data(df)

capping the  hotel
capping the  is_canceled
capping the  arrival_date_year
capping the  arrival_date_month
capping the  arrival_date_day_of_month
capping the  stays_in_weekend_nights
capping the  stays_in_week_nights
capping the  deposit_type
capping the  reservation_status
capping the  children
capping the  babies

In [15]:
newdf.head()

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,deposit_type,reservation_status,children,babies
0,Resort Hotel,0,2015.0,July,1.0,0.0,0.0,No Deposit,Check-Out,None,0.0
2,Resort Hotel,0,2015.0,July,1.0,0.0,1.0,No Deposit,Check-Out,None,0.0
4,Resort Hotel,0,2015.0,July,1.0,0.0,2.0,No Deposit,Check-Out,None,0.0
8,Resort Hotel,1,2015.0,July,1.0,0.0,3.0,No Deposit,Canceled,None,0.0
10,Resort Hotel,1,2015.0,July,1.0,0.0,4.0,No Deposit,Canceled,None,0.0

#SQL in Python
#! pip install psycopg2-binary
#! pip install snowflake-connector-python
#! pip install mysql-connector-python